@import './theme/font.css';

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;

  input[type='password']::-ms-reveal,
  input[type='password']::-ms-clear {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ededed;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    box-shadow: none;
    border-radius: 8px;
  }
}

#root {
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
  overflow: hidden;
}
